---
import Section from "./Section.astro"

import { skills } from "@cv"
---

<Section title="Skills">
    <ul class="inline-flex gap-2 flex-wrap">
        {
            skills.map(({name}) => {
                return (
                    <li class="rounded-md text-black bg-slate-200 px-2">
                        <span>{name}</span>
                    </li>
                )
            })
        }
    </ul>

</Section>